@{
    ViewData["Title"] = "Home Page";
}
<div class="index-container"><h1 id="slogan">Dont Let Dollars Get Away</h1>
    <br/>
    <img src="/images/34.svg"height="30%" width="30%" alt="Cartoon man with blue shirt appering from the side">
    </div>
    
 
    

    

